.ChooseBox {
    
}

.ChooseBox__SelectOption {
    text-align: center;
}

.SearchBox {
    
}

.SearchBox__Input {
    text-align: center;
    align-self: center;
    
}

.SearchBox__DropDownList {
    text-align: left;
}

.ShowBox {
    font-weight: bold;
    text-align: center;
}

.NumberInputBox {
    text-align: center;
}