.ChooseBox {
    
}

.ChooseBox__SelectOption {
    text-align: center;
}

.SearchBox {
    
}

.SearchBox__Input {
    text-align: center;
    align-self: center;
    color: #92a4b4;
    
}

.SearchBox__DropDownList {
    text-align: left;
    color: #92a4b4;
    font-size: 80%;
}

.ShowBox {
    font-weight: bold;
    text-align: center;
}

.NumberInput {
    justify-self: center;
    color: #92a4b4
}

.NumberInput__Box {
    text-align: center;
}

.ActionButton {
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #33a9f4;;
}