.SearchAndPlotVehicleValue {

  width: 100% - 1px;
  height: 100% - 1px;

  border: 1px solid black; 
  background-color: #33a9f4;
  
  display: grid;
  align-items: center;
  grid-template-columns: 20% 20% 1fr;
  justify-content: left;
  padding: 30px;
}
