.MainPage {

    width: 100vw;
    height: 100vh;

    z-index:1;

    justify-self: center;
    align-self: center;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;

    background-color: #e6c7a0;
    background-attachment: fixed;
    
}

.MainPage__Header {
    height: 100px;
    background: linear-gradient(#57010a, #b90315);
    /* background-color: #c70116; */
    text-align: center;
    color: white; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.MainPage__Content{
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-self: center;
    /* background-image: linear-gradient(#33a9f4,white); */
    /* background-image: url(../../images/rainbow-painting-colorful-abstract-splash-colors-backgroun-5.jpg); */
    background-image: url(../../images/stack-coins-calculator-toy-car-pen-template.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.MainPage__Footer {
    height: 100px;
    background-color: black;
    text-align: center;
    justify-content: center;
    color: white; 
}

