.GraphPlotOptionsPanel {
    flex: 1;
    background-color: #d3d3d3;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    text-align: center;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.GraphPlotOptionsPanelHeading {
    flex: 0 0 1;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    color: black;
    justify-content: center;
}

.GraphPlotOptionsPanelBoxes {
    flex: 0 0 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 90%;
}

.GraphPlotOptionsPanelButtons {
    flex: 0 0 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.GraphPlotOptionsPanelShowInfo {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 3%;
}