.ChooseBox {
    
}

.ChooseBox__SelectOption {
    text-align: center;
}

.SearchBox {
    align-self: center;
}

.SearchBox__Input {
    text-align: center;
    align-self: center;
    color: black;
    
}

.SearchBox__DropDownList {
    text-align: left;
    color: white;
    font-size: 60%;
    font-weight: bold;

}

.ShowBox {
    font-weight: bold;
    text-align: center;
    color: white;
}

.NumberInput {
    justify-self: center;
    color: white
}

.NumberInput__Box {
    text-align: center;
}

.ActionButton {
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    background-color: white;
}