* {
    text-align: center;
}

.ChooseBox {
}

.ChooseBox__SelectOption {
    width: 200px;
}

.SearchBox {

}

.SearchBox__Input {
    width: 200px;
}

.SearchBox__DropDownList {
    overflow-y: scroll;
    max-height: 100px;
    max-width: 200px;
}

.SearchBox__DropDownListItem {

}

.ShowBox {
    color: white;
    font-weight: bold;
}

.NumberInput {

}

.NumberInput__Box {

}

.ActivityIndicator {

}

.ActivityIndicator .div{

}

.ActionButton {
    width: 200px;
}