.GraphPlotPanel {
    border-radius: 15px;
    height: 800px;
    width: auto;

    background-color: (0,0,0,0.5);
    backdrop-filter: blur(30px);

    display: grid; 
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.GraphPlotPanel__Head {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    height: 60px; 
    text-shadow: .05em .05em 0 hsl(24,58%,85%);
}

.GraphPlotPanel__Content {
    display: grid; 
    grid-template-columns: auto;
    grid-template-rows: auto;

    /* background-color: white; */
    /* backdrop-filter: blur(30px); */

}

.GraphPlotPanel__Content canvas{
    max-width: 90%;
    max-height: 90%;
    justify-self: center;
}

.GraphPlotPanel__Content--ActionButtonsContainer {
    height: 60px;
    display: grid; 
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
}

.GraphPlotPanel__Loading {
    align-self: center;
    justify-self: center;
}
