.UserInputPanelContainer {
    border-radius: 30px;

    background-color: (0,0,0,0.5);
    backdrop-filter: blur(7px);

    height: 60vh;
    width: 60%;
    
    display: grid; 
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; 
    justify-content: center;

}

.UserInputPanel__Head {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 40px;
    height: 100px; 
    align-self: center;
    text-shadow: .05em .05em 0 hsl(24,58%,85%);
}

.UserInputPanel__Content {
    /* border-radius: 30px; */
    width: 60%;
    justify-self: center;

    /* backdrop-filter: blur(50px); */

    display: grid; 
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-content: center;
    gap: 30px;
}

.UserInputPanel__Content--AllInstances {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 10px;
}

.UserInputPanel__Content--InputBoxesContainer {

    display: grid; 
    border: 1px solid white;
    border-radius: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-self: center;
    padding: 5px;
}

.UserInputPanel__Content--InputBoxesContainer div{
    text-align: center;
    align-self: center;
    width: 100%;
}

.UserInputPanel__Content--ActionButtonsContainer {
    height: 60px;
    display: grid; 
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
}

.UserInputPanel__Content--DisplayInfo {
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    align-self: center;
    justify-self: center;
    width: 60%;
}