.VehicleSelectionPanelContainer {
    min-height: 300px;
    border-radius: 30px;

    background-color: (0,0,0,0.5);
    backdrop-filter: blur(3px);  
    display: grid;
    grid-template-rows: 50px auto auto;
    justify-content: space-around;
}

.VehicleSelectionPanel__Head {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 20px;
    text-shadow: .05em .05em 0 hsl(24,58%,85%);
}

.VehicleSelectionPanel__Content {
}

.VehicleSelectionPanel__Content--AllInstances {
    display: flex;
    flex-direction: row;
}

.VehicleSelectionPanel__Content--InputBoxesContainer {
    margin: 0 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.VehicleSelectionPanel__Content--InputBoxesContainer > button {
    margin-top: auto;
}

.VehicleSelectionPanel__Content--InputBoxesContainer > *{
    justify-content: space-around;
}

.VehicleSelectionPanel__Content--ActionButtonsContainer {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.VehicleSelectionPanel__Content--ActionButtonsContainer > *{
    max-width: 200px;
}

.VehicleSelectionPanel__Content--DisplayInfo {

}